@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
  margin-left: 38vh;
}

.suppliers,
.employees,
.invoices,
.products,
.storage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-size: 3rem;
  margin-left: 38vh;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  width: 170vh;
  justify-content: space-between;
}
.pageTitle {
  display: flex;
  align-self: center;
  margin-left: 5vh;
  color: #171c26;
}

.pageButtons {
  width: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  align-self: flex-end;
  padding: 5vh;
}
.addButton {
  background-color: "red";
}
