.navbar {
  background-color: #df2a2a;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.foodieTitle {
  color: #ffb647;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.modalStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background: #a0c5e8;
  padding: 10px 0;
  max-height: 100;
}

.nav-menu {
  background-color: #171c26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #ffb647;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: #171c26;
  color: #69e042;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.ModalButtons {
  width: 50vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: flex-end;
  justify-content: flex-end;
}
